asgiref==3.7.2
brotlipy==0.7.0
certifi 
cffi 
charset-normalizer 
cryptography 
Django==4.2.5
filelock 
gmpy2 
idna 
mpmath 
networkx 
numpy 
Pillow==9.4.0
pycparser 
pyOpenSSL 
PySocks 
PyYAML 
requests 
sqlparse==0.4.4
sympy 
torch==2.0
torchaudio==2.0
torchvision==0.12
typing_extensions 
urllib3 
