<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style Transfer</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id='poweredBy'
        style='position: fixed; right: 0; bottom: 0; background-color: #0078D7; color: white; padding: 10px; z-index: 1000; border-top-left-radius: 10px; font-family: Roboto, sans-serif;'>
        <span class='info-icon' style='margin-right: 5px; font-size: 1.2em;'>&#x2139;</span> Powered by <b><a
                href='https://converter.app' style='color: white;' target="_blank">Converter App</a></b>
    </div>
    <h1>Style Transfer</h1>
    <form action="/stylize/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="content_image">Upload Image:</label>
        <input type="file" id="content_image" name="content_image" required><br><br>
        <label for="style_choice">Choose Style:</label>
        <select id="style_choice" name="style_choice">
            <option value="mosaic">Mosaic</option>
            <option value="candy">Candy</option>
            <option value="rain_princess">Rain Princess</option>
            <option value="udnie">Udnie</option>
        </select><br><br>
        <input type="submit" value="Apply Style">
    </form>
</body>

</html>